@using DynamicBlogApp.NetCore6.Models
@model AdminUpdateViewModel
@{
    ViewData["Title"] = "EditAdmin";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}





<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 style="text-align: center" class="card-title">Writer Profile Informations</h4>
            <p style="text-align: center" class="card-description"> Update Profile </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input type="text" name="namesurname" value="@Model.namesurname" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="exampleInputName1">Phone</label>
                    <input type="text" name="adminphone" value="@Model.adminphone" class="form-control" />
                </div>
                <div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="adminimg" value="@Model.adminimg" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Email address</label>
                    <input type="email" name="adminemail" value="@Model.adminemail" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">UserName</label>
                    <input type="text" name="adminusername" value="@Model.adminusername" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword4">Password</label>
                    <input type="password" name="adminpassword" value="@Model.adminpassword" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Password Confirm</label>
                    <input type="password" name="adminpassword" value="@Model.adminpassword" class="form-control" />
                </div>


                <button type="submit" class="btn btn-gradient-primary mr-2">Update</button>
                <a href="/Admin/Widget/" class="btn btn-danger read-m">Cancel</a>
            </form>
        </div>
    </div>
</div>




