@using EntityLayer.Concrete
@model List<Blog>

@{
	ViewData["Title"] = "BlogListByWriter";
	Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<strong>Writer Blogs</strong>
<table class="table table-border">
	<tr>
		<th><strong>#</strong></th>
		<th>Blog Title</th>
		<th>Created Date</th>
		<th>Category</th>
		<th>Status</th>
		<th>Update</th>
		<th>Delete</th>
	</tr>
	@foreach(var item in Model)
	{
		<tr>
			<td><strong>@item.BlogID</strong></td>
			<td>@item.BlogTitle</td>
			<td>@(((DateTime)item.BlogCreateDate).ToString("dd.MMM.yyyy"))</td>
			<td>@item.Category.CategoryName</td>
			<td>@item.BlogStatus</td>
			<td><a href="#" class="btn btn-warning">Update</a></td>
			<td><a href="#" class="btn btn-danger">Delete</a></td>
		</tr>
	}
</table>
<a href="https://localhost:7113/Blog/BlogAdd" class="btn btn-info">New Blog</a>