@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Add Category</h1>

@using(Html.BeginForm("AddCategory", "Category" ,FormMethod.Post)){
	@Html.Label("Categoy Title")
	@Html.TextBoxFor(x=>x.CategoryName,new {@class = "form-control"})
	@Html.ValidationMessageFor(x=>x.CategoryName)
	<br />
	
	
	@Html.Label("Blog Content")
	@Html.TextAreaFor(x=>x.CategoryDescription,10,3,new {@class = "form-control"})
	@Html.ValidationMessageFor(x=>x.CategoryDescription)
	<br />

	<button type="submit" class="btn btn-primary submit mb-4">Save</button>
}
